body {
  background-color: rgba(97, 81, 111, 0.326);
}

input {
  border-radius: 4px;
  border: none;
}

button {
  font-size: 16px;
  background-color: rgb(134, 125, 141);
  cursor: pointer;
  color: white;

  border: 3px solid rgba(23, 23, 29, 0.208);
  border-radius: 4px;
}
button:hover {
  background-color: rgba(73, 65, 105, 0.588);
  color: #000000;
}
button.is-hidden {
  display: none;
}

// button[disabled] {
//   background-color: rgb(233, 224, 224);
//   color: black;
//   border: 2px solid rgb(233, 224, 224);
//   cursor: default;
// }

#search-form {
  text-align: center;
  height: 45px;
  background-color: rgba(177, 109, 246, 0.297);
  padding: 10px;
}
.card-item {
  list-style: none;
  margin: 10px;
}
.galery-list {
  flex-wrap: wrap;
  margin: -5px;
  list-style: none;
  display: flex;
}

img {
  width: 100%;
  height: 240px;
}
.info {
  display: flex;
  justify-content: space-around;
}

.hover-image-scale {
  display: inline-block;
  overflow: hidden; /* Скрываем всё за контуром */
}
.hover-image-scale img {
  transition: 1s; /* Время эффекта */
  display: block;
}
.hover-image-scale img:hover {
  transform: scale(1.2); /* Увеличиваем масштаб */
}

.photo-card:hover {
  box-shadow: 10px 5px 5px gray;
}
.load-more {
  display: flex;

  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
